<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Inschrijving ontvangen</title>
</head>
<body style="font-family: Aptos, Calibri, Arial, sans-serif; font-size: 12pt; color: #000000; line-height: 1.5;">

<p>Beste {{ participant_names }},</p>

<p>
    We hebben je inschrijving voor <strong>{{ camp_name }}</strong> van <strong>{{ camp_start_date }}</strong> tot <strong>{{ camp_end_date }}</strong>
    in goede orde ontvangen!
</p>

<p>
    Superleuk dat je voor deze activiteit gekozen hebt. Het wordt zeker een erg leuke en mooie ervaring!
</p>

<p>
    Mocht je naar aanleiding van je inschrijving nog vragen hebben; neem dan gerust contact met ons op door een mail te sturen naar: <a href="mailto:info@trapperskamp.com">info@trapperskamp.com</a>.
</p>

<hr style="margin: 2em 0; border: none; border-top: 1px solid #cccccc;">

<p>Vriendelijke groet,</p>

<p>
    <strong> Plusscoutskring Traka - Trapperskampen</strong><br>
</p>

<p>
    NB: We zijn een vrijwilligersorganisatie. Een reactie op mail kan enige dagen op zich laten wachten, al doen wij ons uiterste best om zo snel mogelijk te reageren.
</p>

{% if logo_url %}
<p>
    <img src="{{ logo_url }}"
         alt="Trapperskamp"
         width="150">
</p>
{% endif %}

</body>
</html>